services:
  # postgres:
  #   container_name: postgres-go
  #   image: postgres:latest

  #   environment:
  #     - POSTGRES_USER=${DB_USER:-}
  #     - POSTGRES_PASSWORD=${DB_PASSWORD:-}
  #     - POSTGRES_DB=${DB_NAME:-}

  #   ports:
  #     - "${DB_PORT:-}:${DB_PORT:-}"

  #   restart: always

  warns:
    container_name: service-warns

    build: ./WarnsService

    environment:
      - SERVER_NETWORK=tcp
      - SERVER_PORT=${SERVICE_WARNS_PORT:-}

      - DB_HOST=${DB_HOST:-}
      - DB_PORT=${DB_PORT:-}
      - DB_MAX_ATMPS=${DB_MAX_ATMPS:-}
      - DB_DELAY_ATMPS_S=${DB_DELAY_ATMPS_S:-}
      - DB_USER=${DB_USER:-}
      - DB_PASSWORD=${DB_PASSWORD:-}
      - DB_NAME=${DB_NAME:-}

      - SERVICE_USERS_HOST=localhost
      - SERVICE_USERS_PORT=${SERVICE_USERS_PORT:-}

      - WARNS_BEFORE_BAN=${WARNS_BEFORE_BAN:-}

    ports:
     - "${SERVICE_WARNS_PORT:-}:${SERVICE_WARNS_PORT:-}"

    depends_on:
     - postgres

  promos:
    container_name: service-promos

    build: ./PromocodesService

    environment:
      - SERVER_NETWORK=tcp
      - SERVER_PORT=${SERVICE_PROMOS_PORT:-}

      - DB_HOST=${DB_HOST:-}
      - DB_PORT=${DB_PORT:-}
      - DB_MAX_ATMPS=${DB_MAX_ATMPS:-}
      - DB_DELAY_ATMPS_S=${DB_DELAY_ATMPS_S:-}
      - DB_USER=${DB_USER:-}
      - DB_PASSWORD=${DB_PASSWORD:-}
      - DB_NAME=${DB_NAME:-}

      - SERVICE_USERS_HOST=localhost
      - SERVICE_USERS_PORT=${SERVICE_USERS_PORT:-}

    ports:
     - "${SERVICE_PROMOS_PORT:-}:${SERVICE_PROMOS_PORT:-}"

    depends_on:
     - postgres

  checks:
    container_name: service-checks

    build: ./ChecksService

    environment:
      - SERVER_NETWORK=tcp
      - SERVER_PORT=${SERVICE_CHECKS_PORT:-}

      - DB_HOST=${DB_HOST:-}
      - DB_PORT=${DB_PORT:-}
      - DB_MAX_ATMPS=${DB_MAX_ATMPS:-}
      - DB_DELAY_ATMPS_S=${DB_DELAY_ATMPS_S:-}
      - DB_USER=${DB_USER:-}
      - DB_PASSWORD=${DB_PASSWORD:-}
      - DB_NAME=${DB_NAME:-}

      - SERVICE_USERS_HOST=localhost
      - SERVICE_USERS_PORT=${SERVICE_USERS_PORT:-}

      - HASH_SALT=${HASH_SALT:-}

    ports:
     - "${SERVICE_CHECKS_PORT:-}:${SERVICE_CHECKS_PORT:-}"

    depends_on:
     - postgres
