go 1.24.2

use (
	./ChecksService
	./ForServices/config
	./ForServices/conn
	./ForServices/errors
	./ForServices/logger
	./ForServices/migrations
	./ForServices/postgres
	./ForServices/protobuf
	./ForServices/server
	./ForServices/utils
	./MarketService
	./PromosService
	./WarnsService
)
